body{
    background-color: black;
}
.container{
    border:1px solid black ;
    height:800px ;
    width:100% ; 
    padding:0px ; 
    background-image: url('./img2.jpg');
    background-size: 100% 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poor Story', system-ui;
    font-family: 'Workbench', sans-serif;
    font-family: 'Silkscreen', sans-serif;
}
.words{
    color:rgb(241, 248, 242);
    font-size: 30px;
    height: 300px;
    width:800px;
    text-align: center;
    text-shadow: 3px 2px 2px  rgb(11, 11, 11);
    line-height: 2;
}
.img2{
    height: 100%;
    width: 100%;
}
p{
    display: inline;
}
.dotstyle{
    opacity: 50%;
}